#title {
  font-family: "DynaPuff";
  font-size: 50px;
  color: navy;
}
#sub{
  font-size: 30px;
}
#sub2{
  font-size: 35px;
}
body{
  background-color: lightskyblue;
}
#link{
  font-size: 50px;
}
#table{
  font-size: 30px;
}
#experience{
  font-size: 25px;
}
#last{
  font-size:40px;
}